body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    background-image: url(pics/360_F_296299593_CjbC8w9t6WNBOUfvfVsf6DIfkmkIzku2.jpg);
    background-size: 100%;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white; 
}
div{
    padding-top: 15px;
}
    #scoreTitle{
        display: flex;
        justify-content: center;
    }
        #WLT{
            display: flex;
            justify-content: space-evenly;
            width: 600px;


        }
    #choices{
        display: flex;
        justify-content: space-evenly;
        width: 600px;
    }
    #options{
        display: flex;
        justify-content: space-evenly;
        width: 1000px;
    }

button{
    font-size: 40px;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white; 

}
#rock{
        background-image:url(pics/stone-576566_960_720.png);
        background-size: 200px 200px;
        width: 200px;
        height: 200px;
}
#paper{
    background-image:url(pics/note-papier3.png);
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
}
#scissors{
    background-image:url(pics/nicubunu_Scissors.png);
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
}